body{
  font-family: 'Baloo Bhai 2', cursive;
}
#column {
  display: flex;
  justify-content: center;
  text-align: center;
}

#card {
  box-shadow: 0 14px 29px 0 rgb(28 28 28 / 96%);
  margin: 1px;
  padding: 16px 125px;
  border-radius: 36px;
}

.none{
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 1px 7px 0 rgb(81 71 69);
}

.h-primary{
  font-size: 2.9rem;
  padding: 10px;
  font-family: 'Baloo Bhai 2', cursive;
}

.container {
  padding: 25px 20px 1px;
  font-family: 'Baloo Bhai 2', cursive;
}


#social img{
  height: 35px;
  }

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
